
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
}


.wrapper {
    height: 100%;
    width: 100%;
}

.abc {
    height: 33%;
    width: 100%;
}


.orange {
    background-color: darkorange;
}

.white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
}


.xyz {
    padding: 3vw;
}


.green {
    background-color: darkgreen;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.xyz img {
    animation: rotate 10s linear infinite;
}
